doctype html
html
	head
		title intro gba
		meta(charset='utf-8')
		link(rel='stylesheet' type='text/css' href='./intro.css')
	body
		canvas
		div(class='wrapper')
			img(src='./intro0.svg')
			h2 +Nostlan
			img(src='./intro1.svg')
		script(src=three_js)
		script(src='./intro.js')
