doctype html
html
	head
		title intro mame
		meta(charset='utf-8')
		link(rel='stylesheet' type='text/css' href='./intro.css')
	body
		div(class='wrapper')
			img(src='./intro0.svg')
			h2 +Nostlan
			img(src='./intro1.svg')
		canvas
		script(src='../../node_modules/three/build/three.min.js')
		script(src='./intro.js')
