.snes {
	--cover-color: #cac9ce;
	--cover-text-color: #94929B;
	--button-color: #BBB6ED;
	--openBtn-color: #5F3C96;
}

.snes.super-famicom {
	--cover-color: #A3A9AC;
	--cover-text-color: #6C6C6C;
	--powerBtn-color: #0B60C6;
	--powerBtn-border-color: #004AB8;
	--resetBtn-color: #00B683;
	--resetBtn-border-color: #20956C;
	--openBtn-color: #FFD600;
	--openBtn-border-color: #FCC648;
}

.snes.super-nintendo {
	--cover-color: #cac9ce;
	--cover-text-color: #a9a7aa;
	--cover-border-color: #64a;
	--button-color: #7a62ae;
	--button-border-color: #7a62ae;
	--power-color: #7a62ae;
	--power-text-color: #ababde;
	--reset-color: #7a62ae;
	--reset-text-color: #ababde;
	--open-color: #9b999e;
	--open-text-color: #cecdd2;
	--open-border-color: #7d7b80;
	--openBtn-border-color: #9b999e;
	--openBtn-color: #9b999e;
	--view-border-color: #a9a7aa;
}

.snes.game-box {
	--cover-color: #000000;
	--cover-text-color: #fc0c19;
	--cover-border-color: #fc0c19;
	--button-color: #000000;
	--openBtn-color: repeating-linear-gradient(#626763 0%, #626763 6%, #000000 6%, #000000 11.75%);
	--powerBtn-border-color: #fea12a;
	--resetBtn-border-color: #b82899;
	--view-text-color: #fc0c19;
	--view-button-color: #eee;
	--view-color: #000;
}
