doctype html
html
	head
		title intro snes
		meta(charset='utf-8')
		link(rel='stylesheet' type='text/css' href='./intro.css')
	body
		.controler
			.left
			.middle
			.right
			.left2
				.circle
					.horizontal
					.vertical
			.middle2
				.select
				.start
			.right2
				.circle
					.top
						button.green
						button.blue
					.bottom
						button.orange
						button.red
