/*================ Wii U Cover ====================*/
@font-face {
	font-family: contb;
	src: url("../fonts/contb.ttf");
}

@font-face {
	font-family: Nintender;
	src: url("../fonts/Nintender.ttf");
}

.wiiu .navPanel .text {
	font-family: contb;
	font-weight: 900;
	font-size: 3.5vw;
	line-height: 3.5vw;
}

.wiiu #nav1Btn {
	font-family: Nintender;
	font-size: 3vw;
	line-height: 3vw;
	font-weight: bold;
	text-align-last: center;
	-webkit-appearance: none;
	border-width: 0.5vw;
	border-style: solid;
	border-color: var(--nav1-text-color, var(--nav-text-color));
	color: var(--nav1-text-color, var(--nav-text-color));
	background-color: transparent;
	border-radius: 3vw;
	padding-left: 5%;
	padding-right: 6%;
	padding-top: 1%;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

/*================ Wii U Game Lib Viewer ====================*/
game.wiiu .crop.coverFull {
	width: 200.4%;
	top: 2.1%;
	left: 0;
}

game.wiiu .crop.cover {
	height: 100%;
	width: 100%;
	top: -0%;
	left: -1.1%;
}

game.wiiu img.cover {
	height: 100%;
	width: 100%;
	transform: scale(.946, .956);
}

game.wiiu .box {
	border-radius: 2%;
}

game.wiiu img.coverFull {
	transform: translate(-51.5%, 0%);
}

game.wiiu.flip img.coverFull {
	transform: translate(1.5%, 0%);
}

game.wiiu.flip .crop.coverFull {
	width: 100.4%;
	top: 2.1%;
	left: 0;
}

game.wiiu.flip .shade {
	width: 1.4%;
	left: 98.7%;
}

/*================Wii Open Box====================*/
.wiiu #gameMemory {
	width: 16vh;
	transform: translate(32%, -256%);
}

.wiiu #gameMedia {
	width: 60.8vh;
	border-radius: 50%;
	transform: translate(11%, -50%);
}

.wiiu #gameManual {
	width: 62vh;
	transform: translate(-108%, -50%);
}

.wiiu .zoom-gameManual {
	transform: translate(34vh, 0vh) scale(1);
}

.wiiu .zoom-gameMedia {
	transform: translate(-59vh, 0vh) scale(1.6);
}

.wiiu .zoom-gameMemory {
	transform: translate(-52vh, 140vh) scale(4);
}
