#intro: .intro-bg
  .wrapper: p
  .system
    .top
      .display-wrap
        .display
      .speaker-1
        div
        div
        div
        div
        div
        div
      .speaker-2
        div
        div
        div
        div
        div
        div
      hr.l-1
      hr.l-2
      .pipka-1
      .pipka-2
      .square-1
      .square-2
      .square-3
      .square-4
      .left
      .right
        div
          .diod-1
          .diod-2
    span.rSpan
    .middle
      .mic
      .mic-2 mic.
    hr.shape-1
    .bottom
      .b-display-wrap
        .b-display
      .buttons
        .y
          span y
        .x
          span x
        .b
          span b
        .a
          span a
      .buttons-2
        div
          span.start start
        div
          span.select select
      .buttons-3
        .frwd
          span
        .left-2
          span
        .bkwrd
          span
        .right-2
          span
        .center
    .stick
      span
    .stick-shadow
    .bottom-2
      .vol
        span vol.
        .slid
          .slider
            .slidin
            .slidin
            .slidin
      span.aux
      .headphones
      .headphones-2
