#intro: #cvs
	#cube
		.cubeface.top
			.square
			.square
			.square
			.square
		.cubeface.front
			.square
			.square
			.square
			.square
			.square
		.cubeface.right
			.square
			.square
			.square
			.square
			.square
			.square
		.cubeface.back
		.cubeface.left
		.cubeface.bottom
		#minicube
			.minicubeface.top
			.minicubeface.front
			.minicubeface.left
			.minicubeface.right
			.minicubeface.back
			.minicubeface.bottom
