#intro: .loader
  .shape__group.shape__group1
    .shape.shape1
    .shape.shape2
    .shape.shape3
      .shape3__item.shape3__item1
      .shape3__item.shape3__item2
      .shape3__item.shape3__item3
    .shape.shape4
  .shape__group.shape__group2
    .shape.shape1
    .shape.shape2
    .shape.shape3
      .shape3__item.shape3__item1
      .shape3__item.shape3__item2
      .shape3__item.shape3__item3
    .shape.shape4
  .shape__group.shape__group3
    .shape.shape1
    .shape.shape2
    .shape.shape3
      .shape3__item.shape3__item1
      .shape3__item.shape3__item2
      .shape3__item.shape3__item3
    .shape.shape4
  .shape__group.shape__group4
    .shape.shape1
    .shape.shape2
    .shape.shape3
      .shape3__item.shape3__item1
      .shape3__item.shape3__item2
      .shape3__item.shape3__item3
    .shape.shape4
