.gba {
	--nav-color: #605891;
	--nav-text-color: #3c336a;
	--navBtns-color: #c6c6c4;
}

.gba.blue-SP {
	--nav-color: #004DA3;
	--nav-text-color: #002166;
	--navBtns-color: #505153;
}

.gba.light-blue-SP {
	--nav-color: #75B2C7;
	--nav-text-color: #45A0BB;
	--navBtns-color: #C7C8CA;
}

.gba.red-SP {
	--nav-color: #B73630;
	--nav-text-color: #570000;
	--navBtns-color: #676566;
}

.gba.silver-SP {
	--nav-color: #E6E5E3;
	--nav-text-color: #898886;
	--navBtns-color: #676566;
}
