/*================gba Cover====================*/
@font-face {
	font-family: Early_GameBoy;
	src: local("Early_GameBoy"), local("Early_GameBoy"), url("../fonts/Early_GameBoy.ttf");
}

@font-face {
	font-family: Nintender;
	src: url("../fonts/Nintender.ttf");
}

.gba .navPanel .text {
	font-family: "Early_GameBoy", "Early_GameBoy", Early_GameBoy;
	font-weight: 900;
	font-size: 2.3vw;
	transform: scaleY(2);
}

.gba #nav1Btn {
	font-family: Nintender;
	font-size: 3vw;
	line-height: 3vw;
	font-weight: bold;
	text-align-last: center;
	-webkit-appearance: none;
	border-width: 0.5vw;
	border-style: solid;
	border-color: var(--nav1-text-color, var(--nav-text-color));
	color: var(--nav1-text-color, var(--nav-text-color));
	background-color: transparent;
	border-radius: 3vw;
	padding-left: 5%;
	padding-right: 6%;
	padding-top: 1%;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

/*================GBA Game Lib Viewer====================*/
game.gba .crop.coverFull {
	width: 100%;
	top: 0;
	left: 0;
}

game.gba .crop.cover {
	width: 100%;
	top: 0;
	left: 0;
}

game.gba img.cover {
	width: 100%;
	height: 100%;
}

game.gba img.coverFull {
	width: 100%;
	height: 100%;
	transform: translate(-55.8%, 0%) scale(2.115, 1);
}

game.gba.flip img.coverFull {
	width: 100%;
	height: 100%;
	transform: translate(55.8%, 0%) scale(2.115, 1);
}

game.gba .shade {
	width: 1.3%;
}

game.gba.flip .shade {
	left: 99%;
	width: 1.3%;
}

game.gba .box {
	border-radius: 1.6%;
}

game.gba .title.label {
	top: 5%;
}

game.gba .file.label {
	top: 70%;
}

.gba #gameMedia {
	position: absolute;
	border-radius: 0;
	height: 25vh;
	width: auto;
	left: 78.25vw;
	transform: translate(-50%, -50%);
}

.gba .zoom-gameMedia {
	transform: translate(-56vw) scale(1.9);
}
