.wii {
	--cover-color: #caccd1;
	--cover-text-color: #999999;
	--button-color: radial-gradient(circle at 40% 40%, #e5e5e5 30%, #d2d2d2 50%);
	--button-border-color: #4bc4ed;
	--power-color: repeating-linear-gradient(#ececec, #ececec 4px, #e3e3e3 4px, #e3e3e3 12px);
	--view-color: repeating-linear-gradient(#ececec, #ececec 4px, #e3e3e3 4px, #e3e3e3 12px);
	--powerBtn-border-color: #d2d2d2;
	--powerBtn-color: radial-gradient(circle at 50%, #f7f7f7 0%, #f7f7f7 15%, #d2d2d2 15%, #d2d2d2 20%, #f7f7f7 20%, #f7f7f7 25%, #d2d2d2 25%, #d2d2d2 65%, #f7f7f7 65%, #f7f7f7 100%);
}
