body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	background: #000;
}

.ring {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 30vh;
	height: 30vh;
	margin: 0 auto;
	border: 4vh solid #4b9cdb;
	border-radius: 100%;
	box-shadow: 0 0 50px #4b9cdb;
	transform: translate(-50%, -50%);
}

.ball-holder {
	position: relative;
	top: 0;
	left: 50%;
	width: 0vh;
	height: 30vh;
	animation: loadingE 1.4s linear infinite;
}

.ball {
	width: 10vh;
	height: 10vh;
	border-radius: 100%;
	background: radial-gradient(circle at 50%, #fff 0%, #4282b3 60%);
	box-shadow: 0 0 100px #4b9cdb;
	transform: translate(-50%, -70%);
}
@keyframes loadingE {
	0 {
		transform: rotateZ(0deg);
	}

	100% {
		transform: rotateZ(360deg);
	}
}
