/*================ Wii Cover ====================*/
@font-face {
	font-family: contb;
	src: url("../fonts/contb.ttf");
}

@font-face {
	font-family: Nintender;
	src: url("../fonts/Nintender.ttf");
}

.wii .console .text {
	font-family: contb;
	font-weight: 900;
}

.wii .console.open .nav-link,
.wii .console.reset .nav-link {
	box-shadow: 1px 5px 0 #bbbdc2;
}

.wii .console:hover .nav-link {
	filter: none;
	transform: scale(1.05);
	border-color: var(--button-border-color);
}

.wii .console:hover,
.wii .console:hover #view {
	border-color: var(--button-border-color);
}

.wii .console:hover #view,
.wii .console:hover .text {
	color: var(--button-border-color);
}

.wii .menu .cursor {
	border-color: var(--button-border-color);
}

.console .nav-link {
	font-family: "contb";
}

.wii #view {
	font-family: Nintender;
	font-size: 3vw;
	line-height: 3vw;
	font-weight: bold;
	text-align-last: center;
	-webkit-appearance: none;
	border-width: 0.5vw;
	border-style: solid;
	border-color: var(--view-text-color, var(--cover-text-color));
	color: var(--view-text-color, var(--cover-text-color));
	background-color: transparent;
	border-radius: 3vw;
	padding-left: 5%;
	padding-right: 6%;
	padding-top: 1%;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

/*================Wii Box====================*/
game.wii .crop.coverFull {
	width: 200.1%;
	top: 1.4%;
	left: 0;
}

game.wii .crop.coverFull {
	width: 200.6%;
}

game.wii .crop.cover {
	width: 94.5%;
	top: 2.6%;
	left: 0.8%;
}

game.wii img.coverFull {
	transform: translate(-51.2%, 0%);
}

game.wii.flip .crop.coverFull {
	width: 100%;
}

game.wii.flip img.coverFull {
	width: 200.6%;
	transform: translate(2%, .8%);
}

game.wii .shade {
	width: 2%;
}

game.wii.flip .shade {
	background: linear-gradient(0.25turn, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
	width: 3%;
	left: 98%;
}

/*================Wii Open Box====================*/
.wii #gameMemory {
	width: 16vh;
	transform: translate(32%, -256%);
}

.wii #gameMedia {
	width: 60.8vh;
	border-radius: 50%;
	transform: translate(11%, -50%);
}

.wii #gameTexp {
	width: 94vh;
	transform: translate(-110%, -50.5%);
}

.wii #gameManual {
	width: 57vh;
	transform: translate(-119%, -50%);
}

.wii .zoom-gameManual {
	transform: translate(34vh, 0vh) scale(1);
}

.wii .zoom-gameMedia {
	transform: translate(-59vh, 0vh) scale(1.6);
}

.wii .zoom-gameMemory {
	transform: translate(-52vh, 140vh) scale(4);
}

.wii .zoom-gameTexp {
	transform: translate(34vh, 0vh) scale(1);
}
