/*================ Wii Cover ====================*/
@font-face {
	font-family: contb;
	src: url("../fonts/contb.ttf");
}

@font-face {
	font-family: Nintender;
	src: url("../fonts/Nintender.ttf");
}

.wii .navPanel .text {
	font-family: contb;
	font-weight: 900;
}

.wii #nav$1Btn,
.wii #nav$1Btn {
	box-shadow: 1px 5px 0 #bbbdc2;
}

.wii .navPanel:hover .nav-link {
	filter: none;
	transform: scale(1.05);
	border-color: var(--navBtns-border-color);
}

.wii .navPanel:hover,
.wii .navPanel:hover #nav1Btn {
	border-color: var(--navBtns-border-color);
}

.wii .navPanel:hover #nav1Btn,
.wii .navPanel:hover .text {
	color: var(--navBtns-border-color);
}

.wii .menu .cursor {
	border-color: var(--navBtns-border-color);
}

.navPanel .nav-link {
	font-family: "contb";
}

.wii #nav0,
.wii #nav1 {
	background-blend-mode: normal;
}

.wii #nav1Btn {
	font-family: Nintender;
	font-size: 3vw;
	line-height: 3vw;
	font-weight: bold;
	text-align-last: center;
	appearance: none;
	border-width: 0.5vw;
	border-style: solid;
	border-color: var(--nav1-text-color, var(--nav-text-color));
	color: var(--nav1-text-color, var(--nav-text-color));
	background-color: transparent;
	border-radius: 3vw;
	padding-left: 5%;
	padding-right: 4%;
	padding-top: 1%;
	box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
	width: fit-content;
}

.wii .menu .cui {
	box-shadow: 2px 2px 3px 0 rgba(112, 112, 112, 1) inset,
		5px 5px 3px -1px rgba(174, 174, 174, 1) inset,
		2px 2px 0 2px rgba(36, 36, 36, 1) inset,
		0 0 0px 3px rgba(0, 0, 0, .6),
		3px 3px 4px 3px rgba(0, 0, 0, .7),
		0 0 50px -10px rgba(0, 0, 0, -0.05);
}

.wii .menu .cui:active,
.wii .menu .cui.active {
	box-shadow: 2px 2px 3px -1px #aeaeae inset,
		0 0 0px 3px rgba(0, 0, 0, .8),
		3px 3px 4px 0px rgba(0, 0, 0, .8),
		0 0 50px -10px rgba(0, 0, 0, -0.05);
}

/*================Wii Box====================*/
game.wii .crop.coverFull {
	width: 200.1%;
	top: 1.4%;
	left: 0;
}

game.wii .crop.coverFull {
	width: 200.6%;
}

game.wii .crop.cover {
	width: 94.5%;
	top: 2.6%;
	left: 0.8%;
}

game.wii img.coverFull {
	transform: translate(-51.2%, 0%);
}

game.wii.flip .crop.coverFull {
	width: 100%;
}

game.wii.flip img.coverFull {
	width: 200.6%;
	transform: translate(2%, .8%);
}

game.wii .shade {
	width: 2%;
}

game.wii.flip .shade {
	background: linear-gradient(0.25turn, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
	width: 3%;
	left: 98%;
}

/*================Wii Open Box====================*/
.wii #gameMemory {
	width: 16vh;
	transform: translate(32%, -256%);
}

.wii #gameMedia {
	width: 60.8vh;
	border-radius: 50%;
	transform: translate(11%, -50%);
}

.wii #gameManual,
.wii #gameWiki webview {
	width: 57vh;
	transform: translate(-119%, -50%);
}

.wii .zoom-gameManual {
	transform: translate(34vh, 0vh) scale(1);
}

.wii .zoom-gameMedia {
	transform: translate(-59vh, 0vh) scale(1.6);
}

.wii .zoom-gameMemory {
	transform: translate(-52vh, 140vh) scale(4);
}
