body {
	overflow: hidden;
	background: #000;
}

body * {
	box-sizing: border-box;
}
@keyframes anim {
	0% {
		transform: rotate(-90deg) scale(0);
	}

	5% {
		transform: rotate(3deg) scale(1.04);
	}

	12.5% {
		transform: rotate(0deg) scale(1.01);
	}

	25% {
		transform: rotate(0deg) scale(1.01);
	}

	27.5% {
		transform: rotate(90deg) scale(0);
	}

	100% {
		transform: rotate(90deg) scale(0);
	}
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 250px;
	transform: translate(-50%, -50%);
}

.shape__group {
	width: 100%;
	height: 100%;
}

.shape {
	position: absolute;
	width: 44%;
	height: 44%;
	transform-origin: 50% 50%;
	background: transparent;
	will-change: transform;
}

.shape1 {
	border: 15px solid #d49ac0;
}

.shape2 {
	border: 15px solid #eb5535;
	border-radius: 50%;
}

.shape3__item {
	position: absolute;
	left: 50%;
	width: calc(100% + 22px);
	height: 100%;
	border-top: 15px solid #1d6f56;
	border-right: 26px solid transparent;
	border-left: 26px solid transparent;
}

.shape3__item1 {
	transform: translate(-50%, 17px) rotate(-60deg) translateY(17px);
}

.shape3__item2 {
	transform: translate(-50%, 17px) rotate(60deg) translateY(17px);
}

.shape3__item3 {
	transform: translate(-50%, 0);
	border-top: none;
	border-bottom: 15px solid #1d6f56;
}

.shape4::after,
.shape4::before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 15px;
	height: calc(100% + 35px);
	content: '';
	background-color: #8d95c7;
}

.shape4::before {
	transform: translate(-50%, -50%) rotate(45deg);
}

.shape4::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.shape__group1 .shape {
	transform: rotate(-90deg) scale(0);
	animation: anim 8s ease-in-out infinite;
}

.shape__group1 .shape1 {
	top: 0;
	left: 0;
}

.shape__group1 .shape2 {
	top: 0;
	right: 0;
}

.shape__group1 .shape3 {
	bottom: 0;
	left: 0;
}

.shape__group1 .shape4 {
	right: 0;
	bottom: 0;
}

.shape__group2 .shape {
	transform: rotate(-90deg) scale(0);
	animation: anim 8s ease-in-out 2s infinite;
}

.shape__group2 .shape1 {
	right: 0;
	bottom: 0;
}

.shape__group2 .shape2 {
	bottom: 0;
	left: 0;
}

.shape__group2 .shape3 {
	top: 0;
	right: 0;
}

.shape__group2 .shape4 {
	top: 0;
	left: 0;
}

.shape__group3 .shape {
	transform: rotate(-90deg) scale(0);
	animation: anim 8s ease-in-out 4s infinite;
}

.shape__group3 .shape1 {
	right: 0;
	bottom: 0;
}

.shape__group3 .shape2 {
	top: 0;
	right: 0;
}

.shape__group3 .shape3 {
	top: 0;
	left: 0;
}

.shape__group3 .shape4 {
	bottom: 0;
	left: 0;
}

.shape__group4 .shape {
	transform: rotate(-90deg) scale(0);
	animation: anim 8s ease-in-out 6s infinite;
}

.shape__group4 .shape1 {
	bottom: 0;
	left: 0;
}

.shape__group4 .shape2 {
	top: 0;
	left: 0;
}

.shape__group4 .shape3 {
	right: 0;
	bottom: 0;
}

.shape__group4 .shape4 {
	top: 0;
	right: 0;
}
