.ps2 {
	--cover-color: #333;
	--cover-text-color: #111;
	--button-color: #333;
}
/*================ PS2 Cover========================*/
@font-face {
	font-family: ryp;
	src: url("../fonts/ryp.ttf");
}
@font-face {
	font-family: 'Sownie';
	src: url("../fonts/sownie.ttf");
}

.ps2 #view {
	font-family: 'Sownie', sans-serif;
	font-size: 2.6vw;
	text-transform: uppercase;
	border: none;
	box-shadow: none;
	text-shadow: 0 0.3px 0 rgba(255, 255, 255, .5);
	transform: translate(0%, 50%) scale(1, 1.4);
	text-rendering: geometricPrecision;
}

.ps2 .console .text {
	font-family: ryp, sans-serif;
	font-size: 1.9vw;
}

.ps2 .square span {
	display: block;
	font-size: 0;
	border: 10px solid #d49ac0;
	width: 100%;
	height: 100%;
	position: relative;
	transform: scale(.5);
}

.ps2 .circle span {
	display: block;
	font-size: 0;
	border: 10px solid #eb5535;
	height: 100%;
	width: 100%;
	transform: scale(0.6);
	border-radius: inherit;
}

.ps2 .cross span {
	display: block;
	font-size: 0;
	position: relative;
	width: 100%;
	height: 100%;
}

.ps2 .cross span:after,
.ps2 .cross span:before {
	content: "";
	font-size: 0;
	width: 0;
	height: 100%;
	border: 5px solid #8d95c7;
	position: absolute;
	transform: scale(0.55) rotate(45deg);
	left: 50%;
	margin-left: -5px;
}

.ps2 .cross span:after {
	transform: scale(0.55) rotate(-45deg);
}

.ps2 .triangle span {
	display: block;
	font-size: 0;
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
	border-bottom: 28px solid #1d6f56;
	position: absolute;
	transform: translate(55%, 60%) scale(1.3);
}

.ps2 .triangle span:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
	border-bottom: 28px solid #2e3335;
	left: -17px;
	top: 2px;
	transform: scale(0.65);
}
/*===== PS2 Game Lib Viewer ===*/

game.ps2 .crop.coverFull {
	width: 200.4%;
	top: 2.3%;
	left: 0;
}

game.ps2 .crop.cover {
	height: 100%;
	width: 100%;
	top: -0.5%;
	left: -1%;
}

game.ps2 img.cover {
	height: 100%;
	width: 100%;
	transform: scale(.966);
}

game.ps2 img.coverFull {
	transform: translate(-51.5%, 0%);
}

game.ps2.flip .crop.coverFull {
	top: 1.2%;
}

game.ps2.flip img.coverFull {
	transform: translate(1.5%, 0%);
}

game.ps2 .shade {
	width: 1.3%;
}

game.ps2.flip .shade {
	width: 2%;
}

.ps2 #gameMemory {
	width: 29.1vh;
	transform: translate(78%,-209%);
}

.ps2 .zoom-gameMemorySelect {
	transform: translate(-104vh,-110vh) rotate(90deg) scale(3);
}

.ps2 #gameMedia {
	width: 63vh;
	transform: translate(8.5%,-29%);
}

.ps2 .zoom-gameMediaSelect {
	transform: translate(-55vh,-20.7vh) scale(1.55);
}