.n3ds {
	--nav-color: #3f4044;
	--nav-text-color: #202125;
	--nav0Btn-color: #5A86C7;
	--nav2Btn-color: #009a6d;
	--nav3Btn-color: #DDBB62;
}

.n3ds.blue {
	--nav-color: #557eaa;
	--nav-text-color: #3a465e;
	--nav0Btn-color: #3a465e;
	--nav2Btn-color: #3a465e;
	--nav3Btn-color: #3a465e;
	--nav0Btn-text-color: #5A86C7;
	--nav2Btn-text-color: #009a6d;
	--nav3Btn-text-color: #DDBB62;
}

.n3ds.white {
	--nav-color: #ebebeb;
	--nav-text-color: #949494;
	--nav0Btn-color: #ffa93a;
	--nav2Btn-color: #ffa93a;
	--nav3Btn-color: #ffa93a;
	--nav0Btn-text-color: #5A86C7;
	--nav2Btn-text-color: #009a6d;
	--nav3Btn-text-color: #DDBB62;
}
