/*================3DS Cover========================*/
@font-face {
	font-family: contb;
	src: url("../fonts/contb.ttf");
}

@font-face {
	font-family: Nintender;
	src: url("../fonts/Nintender.ttf");
}

.n3ds .console .text {
	font-family: contb;
	font-weight: 800;
}

.n3ds #view {
	font-family: Nintender;
	font-size: 3vw;
	line-height: 3vw;
	font-weight: bold;
	text-align-last: center;
	-webkit-appearance: none;
	border-width: 0.5vw;
	border-style: solid;
	border-color: var(--view-text-color, var(--cover-text-color));
	color: var(--view-text-color, var(--cover-text-color));
	background-color: transparent;
	border-radius: 3vw;
	padding-left: 5%;
	padding-right: 6%;
	padding-top: 1%;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

/*================3ds Game Lib Viewer====================*/
game.n3ds .crop.coverFull {
	width: 203.9%;
	top: 2.2%;
	left: 0.1%;
}

game.n3ds .crop.cover {
	width: 97%;
	top: 2.2%;
	left: 0.1%;
}

game.n3ds .box {
	border-radius: 2%;
}

game.n3ds img.coverFull {
	transform: translate(-52.4%, 0%);
}

game.n3ds .shade {
	width: 0.5%;
	left: 0;
}

game.n3ds.flip .shade {
	width: 0.5%;
	left: 99.5%;
}

game.n3ds.flip img.coverFull {
	width: 204%;
	transform: translate(1%, .7%);
}
