@font-face {
	font-family: contb;
	src: url("../fonts/contb.ttf");
}

@font-face {
	font-family: Nintender;
	src: url("../fonts/Nintender.ttf");
}

.n3ds .navPanel .text {
	font-family: contb;
	font-weight: 800;
}

.n3ds #nav1Btn {
	font-family: Nintender;
	font-size: 3vw;
	line-height: 3vw;
	font-weight: bold;
	text-align-last: center;
	appearance: none;
	border-width: 0.5vw;
	border-style: solid;
	border-color: var(--nav1-text-color, var(--nav-text-color));
	color: var(--nav1-text-color, var(--nav-text-color));
	background-color: transparent;
	border-radius: 3vw;
	padding-left: 5%;
	padding-right: 4%;
	padding-top: 1%;
	box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
	width: fit-content;
}

game.n3ds .crop.coverFull {
	width: 203.9%;
	top: 2.2%;
	left: 0.1%;
}

game.n3ds .crop.cover {
	width: 97%;
	top: 2.2%;
	left: 0.1%;
}

game.n3ds .box {
	border-radius: 2%;
}

game.n3ds img.coverFull {
	transform: translate(-52.4%, 0%);
}

game.n3ds .shade {
	width: 0.5%;
	left: 0px;
}

game.n3ds.flip .shade {
	width: 0.5%;
	left: 99.5%;
}

game.n3ds.flip img.coverFull {
	width: 204%;
	transform: translate(1%, 0.7%);
}

game.n3ds .title.label {
	top: 5%;
	font-size: 1.5vw;
}

game.n3ds .file.label {
	top: 70%;
	font-size: 0.5vw;
}

.n3ds #boxOpenMenu_2 {
	height: 75vh;
}

.n3ds #gameManual, .n3ds #gameWiki webview {
	width: 69.5vh;
	height: 69.5vh;
	transform: translate(-106%, -50%);
}

.n3ds #gameMedia {
	width: 23vh;
	transform: translate(139%, 12%);
	border-radius: 0px;
}

.n3ds #boxOpenMenu_2.zoom-gameManual {
	transform: translate(48vh, -4vh) scale(1.17);
}

.n3ds #boxOpenMenu_2.zoom-gameMedia {
	transform: translate(-95vh, -24vh) scale(2);
}

.n3ds #boxOpenMenu_2.zoom-gameMemory {
	transform: translate(-146vh, 129vh) scale(4);
}
