#gameLibViewer {
  max-width: 100%;
  max-height: 100%;
}

.front-cover-crop {
  height: 100%;
  width: 210%;
  overflow: hidden;
}

.front-cover-crop img {
  -webkit-transform: translate(-53%, 0%);
  -ms-transform: translate(-53%, 0%);
  transform: translate(-53%, 0%);
}

img {
  width: 100%;
}

* {
  box-sizing: border-box;
}

.reel.reverse {
  position: fixed;
  bottom: 0;
}

.reel {
  position: absolute;
  width: 12.5%;
  z-index: 1;
}

.reel.r0 {
  left: 0%;
}

.reel.r1 {
  left: 12.5%;
}

.reel.r2 {
  left: 25%;
}

.reel.r3 {
  left: 37.5%;
}

.reel.r4 {
  left: 50%;
}

.reel.r5 {
  left: 62.5%;
}

.reel.r6 {
  left: 75%;
}

.reel.r7 {
  left: 87.5%;
}

.panel.selected {
  z-index: 10;
  transform: translate(0px, 0%) scale(3);
  opacity: 1 !important;
}

.selected .panel:not(.selected) {
  opacity: 0;
}

.panel {
  height: auto;
  width: 100%;
  float: center;
  z-index: 1;
  left: 0%;
  transform: scale(.96);
}

.reel, .panel {
  transition: transform 2s, scale 2s, left 2s, opacity 0.2s, z-index 0s;
}
