#gameLibViewer {
  max-width: 100%;
  max-height: 100%;
}

.front-cover-crop {
  height: 100%;
  width: 210%;
  overflow: hidden;
  position: absolute;
  top: -0.9%;
  left: 0.5%;
}

.front-cover-crop img {
  -webkit-transform: translate(-51.5%, 0%) scale(.955);
  -ms-transform: translate(-51.5%, 0%) scale(.955);
  transform: translate(-51.5%, 0%) scale(.955);
}

img {
  width: 100%;
  float: center;
}

* {
  box-sizing: border-box;
}

.reel.reverse {
  position: fixed;
  bottom: 0;
}

.reel {
  position: absolute;
  width: 12.5%;
  z-index: 1;
}

.reel.r0 {
  left: 0%;
}

.reel.r1 {
  left: 12.5%;
}

.reel.r2 {
  left: 25%;
}

.reel.r3 {
  left: 37.5%;
}

.reel.r4 {
  left: 50%;
}

.reel.r5 {
  left: 62.5%;
}

.reel.r6 {
  left: 75%;
}

.reel.r7 {
  left: 87.5%;
}

.panel.selected {
  z-index: 10;
  opacity: 1 !important;
}

.reel.bg .panel:not(.selected) {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.reel.bg:not(.selected) {
  z-index: -1;
}

.panel {
  height: auto;
  width: 100%;
  float: center;
  z-index: 1;
  left: 0%;
  transform: scale(.96);
}

.reel, .panel {
  transition: transform 2s, scale 2s, left 1.5s, opacity 1s, z-index 2s;
}

/*================Gamecube Cover====================*/

nav.navbar.gameView {
  display: flex;
  opacity: 1;
}

nav.navbar {
  display: none;
  opacity: 0;
  transition: opacity 2s;
}

@font-face {
  font-family: Gamecuben;
  src: local("Gamecuben"), local("Gamecuben"), url(../fonts/Gamecuben.ttf);
  font-weight: bold;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.cover {
  font-family: "Gamecuben", "Gamecuben", Gamecuben;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-left: 30px;
  background-color: #6a56b9;
}

div.cover.power {
  border-radius: 0 0 32px 0;
}

div.cover.reset {
  border-radius: 0 32px 0 0;
}

div.cover.open {
  border-radius: 32px 0 0 0;
}

div.endLabel {
  width: 1024px;
  clip: rect(0px, 484px, 532px, 0px);
  transform: rotate(-90deg);
}

div.coverText {
  color: #56429c;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, .5);
}

#update {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.hiddenRow {
  padding: 0 !important;
}

.center {
  text-align: center;
}

nav {
  background-color: #transparent;
}

button.nav-link.btn.btn-secondary.qma.gray {
  background-color: #d0d0d0;
}

button.nav-link.btn.btn-secondary.qma {
  color: #eee;
  background-color: transparent;
  border-width: 4px;
  border-style: solid;
  border-color: #000;
  border-radius: 50%;
  padding: 0px;
  margin: 0px;
  box-shadow: none;
  width: 80px;
  height: 80px;
}

/* need to implement inner border
https://stackoverflow.com/questions/4839613/how-to-make-round-corners-to-both-inside-of-a-box-and-its-border
*/

img.logoNav {
  height: 32px;
}

button.nav-link.btn.btn-secondary.qma:hover {
  color: #ffe8d1;
}

button.nav-link.btn.btn-secondary.qma.gray:active, button.nav-link.btn.btn-secondary.qma.gray:selected {
  background-color: #c0c0c0;
}

button.nav-link.btn.btn-secondary.qma:active {
  color: #ffe8d1;
  background-color: #493c7a;
}

#openBtn {
  background: radial-gradient(circle at 50%, #493c7a 15%, #6a56b9 40%);
}

nav {
  pointer-events: visible;
}

.nav-link small {
  display: block;
  font-size: 10px;
}
