@font-face {
	font-family: Yellowtail;
	src: local("Yellowtail"), local("Yellowtail"), url("../fonts/Yellowtail.ttf");
	font-weight: bold;
}

canvas {
	position: absolute;
	top: 0;
	background: transparent;
	left: 0;
}

#intro {
	background-color: transparent!important;
}

.main {
	opacity: 0;
}

body {
	background-color: #000;
	margin: 0;
	overflow: hidden;
	background-image: radial-gradient(ellipse farthest-corner at center top, #23233f 0%, #000000 60%);
	background-size: cover;
	background-position: top center;
}

h1 {
	color: #C6CBF5;
	font-family: 'Orbitron', sans-serif;
	font-size: 120px!important;
	font-weight: 1000!important;
	line-height: 1.2!important;
	left: 50%;
	margin: -135px 0 0 -420px !important;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 50%;
	width: 852px;
	z-index: 11;
	background: -webkit-linear-gradient(top, #151C60, #C6CBF5 40%, black 40%, #E1A0CE 65%, white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: white;
}

h2 {
	color: #d100b1;
	display: block;
	font-family: 'Yellowtail', cursive;
	font-size: 150px!important;
	margin-top: -50px!important;
	margin-right: -8em;
	position: absolute;
	text-shadow: 0 0 1px #d100b1, 0 -3px 3px rgba(255, 255, 255, 0.8), 0 3px 3px rgba(0, 0, 0, 0.5), 0 0 15px #d100b1, 0 0 45px rgba(209, 0, 177, 0.8);
	text-align: center;
	text-decoration: underline;
	text-transform: none;
	-webkit-transform: skew(-10deg) rotate(-10deg);
	-ms-transform: skew(-10deg) rotate(-10deg);
	transform: skew(-10deg) rotate(-10deg);
	top: 50%;
	width: 100%;
	z-index: 11;
}

.logo-triangle {
	fill: url("#grad1");
	-webkit-filter: url(#dropshadow);
	filter: url(#dropshadow);
	left: 50%;
	margin-top: -135px;
	margin-left: -200px;
	position: absolute;
	top: 50%;
	z-index: 8;
}