@media screen and (-webkit-min-device-pixel-ratio:0) {
	::-webkit-scrollbar {
		display: none !important;
	}
}

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #000;
	text-align: center;
}

#intro {
	width: 100%;
	height: 100%;
}

#intro {
	z-index: 90;
}

.menu {
	position: fixed;
	z-index: 100;
	width: 50vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
	transform: translate(25vw, 25vh);
	text-align: left;
	display: none;
}

#setupMenu,
#welcomeMenu {
	transform: translate(25vw, 2vh);
}

.md code,
.md pre {
	font-size: 1.5vh;
}

.md {
	margin-left: 5%;
	margin-right: 5%;
	font-size: 2vh;
}

.menu h1 {
	text-align: center;
	font-size: 4vh;
}

.menu .uie {
	margin: 0;
	font-size: 4vh;
	text-align: center;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}

.hide {
	display: none !important;
}