@media screen and (-webkit-min-device-pixel-ratio:0) {
	::-webkit-scrollbar {
		display: none !important;
	}
}

* {
	scrollbar-width: none !important;
}

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #000;
	text-align: center;
	user-select: none;
}

/*================Themes====================*/
:root {
	--nav-color: rgb(130, 130, 130);
	--nav-text-color: rgb(70, 70, 70);
	--nav-text-shadow-color: rgba(255, 255, 255, .5);
	--navBtns-color: rgb(70, 70, 70);
	--navBtns-text-color: rgba(0, 0, 0, .5);
	--navBtns-border-color: #000;
	--box-bg-color: #000;
}

@font-face {
	font-family: handwriting0;
	src: url("../../themes/fonts/edosz.ttf");
}

/*================General====================*/
.hiddenRow {
	padding: 0 !important;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

game {
	display: block;
}

#update {
	animation-name: spin;
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#boxOpenMenu_2 {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.zoom-gameManualSelect {
	transform: translate(34vh, 0vh) scale(1);
}

.zoom-gameMediaSelect {
	transform: translate(-71vh, -11vh) scale(2);
}

.zoom-gameMemorySelect {
	transform: translate(-146vh, 129vh) scale(4);
}

.zoom-gameTexpSelect {
	transform: translate(34vh, 0vh) scale(1);
}

#gameBoxOpen {
	z-index: 10;
}

#gameBoxOpenMask {
	z-index: 19;
	pointer-events: none;
}

#gameBoxOpen,
#gameBoxOpenMask {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	width: auto;
	transform: translate(-50%);
}

#boxOpenMenu_2 .row-y * {
	position: fixed;
	z-index: 11;
	top: 50%;
	left: 50%;
	height: auto;
}

#gameMemory {
	width: 18.5vh;
	transform: translate(148%, -213%);
}

#gameMedia {
	width: 40.8vh;
	border-radius: 50%;
	transform: translate(39.4%, -35%);
}

#gameTexp {
	width: 94vh;
	transform: translate(-110%, -50.5%);
}

#gameManual {
	width: 55.5vh;
	transform: translate(-110%, -50.5%);
}

webview {
	position: absolute;
	background-color: #000;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	border-width: 0;
}

#dialogs * {
	width: max-content;
}

.uie.no-outline {
	outline: none !important;
}

#welcomeMenu img {
	margin-top: -10%;
	margin-bottom: -10%;
	transform: scale(.8);
}

#errMenu {
	position: fixed;
	top: 0;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}

/*================Game Lib Viewer====================*/
#libMain {
	display: inline-flex;
	max-width: 100%;
	max-height: 100%;
	z-index: 0;
	transition: transform .5s;
}

.menu {
	background-color: var(--nav-color);
	color: var(--nav-text-color);
	border-color: var(--nav-text-color);
	border-radius: 32px;
	border-width: 8px 0 8px 0;
	border-style: solid;
	font-weight: bold;
}

.menu h1 {
	font-weight: bolder;
	margin-bottom: 14px;
}

.menu * {
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.menu code,
.menu li,
.menu p,
.menu pre {
	color: rgba(0, 0, 0, .6);
	text-shadow: none;
}

.menu a {
	color: rgba(2555, 255, 255, .6);
	text-shadow: none;
}

.menu .uie {
	margin-bottom: 10px;
	border: 3px solid var(--nav-text-color);
	border-radius: 10px;
	box-shadow: 0.5px 0.5px 0 var(--nav-text-shadow-color);
}

.menu .cursor {
	background-color: var(--nav-color);
}

nav {
	font-size: 48px;
}

img {
	width: 100%;
	float: center;
}

.box {
	border-radius: 2%;
}

.reel {
	height: 100vh;
	width: 12.5%;
	z-index: 1;
	overflow: auto;
}

.reel .uie {
	height: auto;
	width: 100%;
	z-index: 1;
	left: 0;
	transform: scale(.96);
	line-height: 0;
	font-size: 0;
}

#dialogs {
	font-size: 2vh;
	color: #ddd;
	width: 100vw;
}

#dialogs * {
	background-color: #000;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 150;
	pointer-events: none;
}

#loadDialog0 {
	top: 75%;
}

#loadDialog1 {
	top: 85%;
}

#loadDialog2 {
	top: 95%;
}

game .shade {
	position: absolute;
	width: 1%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(0.25turn, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

game .label {
	font-family: handwriting0;
	font-size: 24px;
	text-align: center;
	position: absolute;
	width: fit-content;
	max-width: 90%;
	height: fit-content;
	background-color: coral;
	color: #000;
	line-height: initial;
	padding: 5px;
}

game .title.label {
	top: 20%;
	left: 5%;
}

game .file.label {
	font-size: 8px;
	top: 87%;
	left: 5%;
}

game.flip .shade {
	left: 98%;
	background: linear-gradient(0.25turn, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

img.coverFull {
	background-color: var(--box-bg-color);
}

/*================Game Lib Viewer====================*/
game .crop.cover,
game .crop.coverFull {
	height: 100%;
	overflow: hidden;
	position: absolute;
}

game.flip .crop.coverFull {
	width: 100%;
}

game.flip img.box {
	transform: rotate(180deg);
}

game.flip img.coverFull {
	width: 200.8%;
	transform: translate(1.6%, 1%);
}

/*================Cover====================*/
nav {
	display: flex;
	background-color: transparent;
	pointer-events: none;
}

nav * {
	pointer-events: all;
}

.navPanel {
	width: 19%;
	border-style: solid;
	margin-left: 30px;
}

.navPanel * {
	margin-top: auto;
	margin-bottom: auto;
}

#nav1Btn,
.text {
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.navPanel .text {
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
	width: 65%;
}

#nav0 {
	color: var(--nav0-text-color, var(--nav-text-color));
	background: var(--nav0-color, var(--nav-color));
	border-color: var(--nav0-border-color, var(--nav-border-color, var(--nav0-text-color, var(--nav-text-color))));
	border-radius: 0 0 32px 0;
	border-width: 0 0 8px 0;
}

#nav0Btn {
	color: var(--nav0Btn-text-color, var(--navBtns-text-color));
	background: var(--nav0Btn-color, var(--navBtns-color));
	border-color: var(--nav0Btn-border-color, var(--navBtns-border-color));
}

#nav1 {
	color: var(--nav1-text-color, var(--nav-text-color));
	background: var(--nav1-color, var(--nav-color));
	border-color: var(--nav1-border-color, var(--nav-border-color, var(--nav1-text-color, var(--nav-text-color))));
	height: 100%;
	border-radius: 0 0 0 32px;
	border-width: 0 0 8px 0;
}

#nav2 {
	color: var(--nav2-text-color, var(--nav-text-color));
	background: var(--nav2-color, var(--nav-color));
	border-color: var(--nav2-border-color, var(--nav-border-color, var(--nav2-text-color, var(--nav-text-color))));
	height: 100%;
	border-radius: 0 32px 0 0;
	border-width: 8px 0 0 0;
}

#nav2Btn {
	color: var(--nav2Btn-text-color, var(--navBtns-text-color));
	background: var(--nav2Btn-color, var(--navBtns-color));
	border-color: var(--nav2Btn-border-color, var(--navBtns-border-color));
}

#nav3 {
	color: var(--nav3-text-color, var(--nav-text-color));
	background: var(--nav3-color, var(--nav-color));
	border-color: var(--nav3-border-color, var(--nav-border-color, var(--nav3-text-color, var(--nav-text-color))));
	height: 100%;
	border-width: 8px 0 0 0;
	border-radius: 32px 0 0 0;
}

#nav3Btn {
	color: var(--nav3Btn-text-color, var(--navBtns-text-color));
	background: var(--nav3Btn-color, var(--navBtns-color));
	border-color: var(--nav3Btn-border-color, var(--navBtns-border-color));
}

#nav0 *,
#nav2 * {
	margin-left: auto;
}

#nav0 .nav-item,
#nav2 .nav-item {
	margin-right: 4%;
}

#nav3 *,
#nav1 * {
	margin-right: auto;
}

#nav3 .nav-item {
	margin-left: 4%;
}

img.logoNav {
	height: 32px;
}

#nav1 li {
	height: 100%;
	margin: auto;
}

button:active,
button:focus {
	outline: none;
}

.navPanel:hover .nav-link {
	filter: brightness(0.8);
	outline: none;
}

.navPanel .nav-link {
	font-size: 3vw;
	font-weight: bold;
	border-width: 0.27vw;
	border-style: solid;
	border-color: var(--navBtns-border-color);
	border-radius: 50%;
	box-shadow: none;
	padding: 0;
	margin: 0;
	width: 5vw;
	height: 5vw;
}

ul.nav {
	height: 100%;
}

/*================Misc====================*/
.hide,
.hide * {
	filter: opacity(0) !important;
}

.uie i.material-icons {
	font-size: inherit;
	vertical-align: sub;
	line-height: inherit;
	transform: scale(1.4);
}

.uie .text {
	display: inline;
}

.md-left {
	float: left;
	margin-left: 14px;
}

.md-right {
	float: right;
	margin-right: 14px;
}

.invis {
	visibility: hidden;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
	font-size: 18px;
}

.material-icons.md-24 {
	font-size: 24px;
}

.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.md-48 {
	font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
	color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
	color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
	color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
	color: rgba(255, 255, 255, 0.3);
}
