@media screen and (-webkit-min-device-pixel-ratio:0) {
	::-webkit-scrollbar {
		display: none !important;
	}
}

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #000;
	text-align: center;
}

#intro {
	width: 100%;
	height: 100%;
}

#intro {
	position: absolute;
	background-color: #000;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
}

.uie.no-outline {
	outline: none!important;
}

#welcomeMenu img {
	margin-top: -10%;
	margin-bottom: -10%;
	transform:scale(.8);
}

.menu {
	position: fixed;
	z-index: 100;
	width: 50vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
	margin-left: 25vw;
	margin-top: 5vh;
	text-align: left;
	display: none;
}

.menu code,
.menu pre {
	font-size: 1.5vh;
}

.menu p {
	margin-left: 5%;
	margin-right: 5%;
	font-size: 2vh;
}

.menu h1 {
	text-align: center;
	font-size: 4vh;
}

.menu .uie {
	margin: 0;
	font-size: 4vh;
	text-align: center;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}

.hide,
.hide * {
	filter: opacity(0) !important;
}

.ps .square span,
.ps2 .square span,
.ps3 .square span,
.ps4 .square span {
	display: block;
	font-size: 0;
	border: 10px solid #d49ac0;
	width: 100%;
	height: 100%;
	position: relative;
	transform: scale(.5);
}

.ps .circle span,
.ps2 .circle span,
.ps3 .circle span,
.ps4 .circle span {
	display: block;
	font-size: 0;
	border: 10px solid #eb5535;
	height: 100%;
	width: 100%;
	transform: scale(0.6);
	border-radius: inherit;
}

.ps .cross span,
.ps2 .cross span,
.ps3 .cross span,
.ps4 .cross span {
	display: block;
	font-size: 0;
	position: relative;
	width: 100%;
	height: 100%;
}

.ps .cross span:after,
.ps .cross span:before,
.ps2 .cross span:after,
.ps2 .cross span:before,
.ps3 .cross span:after,
.ps3 .cross span:before,
.ps4 .cross span:after,
.ps4 .cross span:before {
	content: "";
	font-size: 0;
	width: 0;
	height: 100%;
	border: 5px solid #8d95c7;
	position: absolute;
	transform: scale(0.55) rotate(45deg);
	left: 50%;
	margin-left: -5px;
}

.ps .cross span:after,
.ps2 .cross span:after,
.ps3 .cross span:after,
.ps4 .cross span:after {
	transform: scale(0.55) rotate(-45deg);
}

.ps .triangle span,
.ps2 .triangle span,
.ps3 .triangle span,
.ps4 .triangle span {
	display: block;
	font-size: 0;
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
	border-bottom: 28px solid #1d6f56;
	position: absolute;
	transform: translate(55%, -60%) scale(1.3);
}

.ps .triangle span:after,
.ps2 .triangle span:after,
.ps3 .triangle span:after,
.ps4 .triangle span:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
	border-bottom: 28px solid #2e3335;
	left: -17px;
	top: 2px;
	transform: scale(0.65);
}