*::-webkit-scrollbar {
	display: none;
}

* {
	scrollbar-width: none !important;
}

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #000;
	text-align: center;
	user-select: none;
}

.waiting {
	cursor: progress;
}

#browser {
	height: 80vh;
	padding-bottom: 1.1vh;
}

/*================Themes====================*/
:root {
	--nav-color: rgb(130, 130, 130);
	--nav-text-color: rgb(70, 70, 70);
	--nav-text-shadow-color: rgba(255, 255, 255, 0.5);
	--navBtns-color: rgb(70, 70, 70);
	--navBtns-text-color: rgba(0, 0, 0, 0.5);
	--navBtns-border-color: #000;
	--box-bg-color: #000;
	font-size: 1vh;
}

@font-face {
	font-family: handwriting0;
	src: url('../../themes/fonts/edosz.ttf');
}

@font-face {
	font-family: handwriting1;
	src: url('../../themes/fonts/fawn.ttf');
}

@font-face {
	font-family: handwriting2;
	src: url('../../themes/fonts/maxine.ttf');
}

@font-face {
	font-family: handwriting3;
	src: url('../../themes/fonts/TrashHand.ttf');
}

@font-face {
	font-family: handwriting4;
	src: url('../../themes/fonts/Yellowtail.ttf');
}

@font-face {
	font-family: handwriting5;
	src: url('../../themes/fonts/Tahu.ttf');
}

/*================General====================*/
.hiddenRow {
	padding: 0 !important;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

game {
	display: block;
}

#jsEmu {
	position: absolute;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	pointer-events: none;
}

#update {
	animation-name: spin;
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#imgSearchMenu_4 {
	width: 95%;
	left: -22.5%;
}

#boxOpenMenu_2,
#editSelect_3 {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

#gameMemory {
	width: 18.5vh;
	transform: translate(148%, -213%);
}

#gameMedia {
	width: 40.8vh;
	border-radius: 50%;
	transform: translate(39.4%, -35%);
}

#gameManual,
#gameWiki webview {
	width: 55.5vh;
	transform: translate(-110%, -50.5%);
}

#gameWiki webview {
	height: 90vh;
}

.zoom-gameManualSelect {
	transform: translate(34vh, 0vh) scale(1);
}

.zoom-gameMediaSelect {
	transform: translate(-71vh, -11vh) scale(2);
}

.zoom-gameMemorySelect {
	transform: translate(-146vh, 129vh) scale(4);
}

#gameBoxOpen {
	z-index: 10;
}

#gameBoxOpenMask {
	z-index: 19;
	pointer-events: none;
}

#gameBoxOpen,
#gameBoxOpenMask {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	width: auto;
	transform: translate(-50%);
}

#boxOpenMenu_2 .row-y * {
	position: fixed;
	z-index: 11;
	top: 50%;
	left: 50%;
}

#intro {
	position: absolute;
	background-color: #000;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	border-width: 0;
}

#dialogs * {
	width: max-content;
}

.cui.no-outline {
	outline: none !important;
}

#welcomeMenu .center {
	margin: auto;
	width: 50vh;
	margin-top: -2.5%;
}

.menu-wide {
	width: 100vw;
	margin-left: 0;
}

#errMenu {
	position: fixed;
	top: 0;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}

/*================Game Lib Viewer====================*/
#libMain {
	display: inline-flex;
	max-width: 100%;
	max-height: 100%;
	z-index: 0;
	transition: all 0s;
}

.dim {
	opacity: 0.25;
}

.menu {
	background-color: var(--nav-color);
	color: var(--nav-text-color);
	border-color: var(--nav-text-color);
	border-radius: 32px;
	border-width: 8px 0 8px 0;
	border-style: solid;
	font-weight: bold;
}

.menu h1 {
	font-weight: bolder;
	margin-bottom: 14px;
}

.menu * {
	text-shadow: 0.5px 1px 0 rgba(255, 255, 255, 0.5);
}

.menu code,
.menu li,
.menu p,
.menu pre {
	color: rgba(0, 0, 0, 0.6);
	text-shadow: none;
}

.menu pre {
	padding-bottom: 1vh;
}

.menu code {
	margin: 0;
}

.menu a {
	color: rgba(2555, 255, 255, 0.6);
	text-shadow: none;
}

.menu .cui {
	background-color: var(--nav-color);
	margin-bottom: 10px;
	border: 3px solid var(--nav-text-color);
	border-radius: 10px;
	box-shadow: 0.5px 0.5px 0 var(--nav-text-shadow-color);
	padding: 0;
}

.menu .cui.left {
	text-align: left;
	padding-left: 3%;
}

.menu .cursor {
	background-color: var(--nav-color);
}

nav {
	font-size: 48px;
}

img {
	width: 100%;
	float: center;
}

.box {
	border-radius: 2%;
}

.reel {
	height: 100vh;
	width: 12.5%;
	z-index: 1;
	overflow: auto;
}

.reel .cui {
	height: auto;
	width: 100%;
	z-index: 1;
	left: 0;
	transform: scale(0.96);
	line-height: 0;
	font-size: 0;
}

#dialogs {
	font-size: 2vh;
	color: #ddd;
	width: 100vw;
}

#dialogs * {
	background-color: #000;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	pointer-events: none;
}

#loadDialog0 {
	top: 75%;
}

#loadDialog1 {
	top: 85%;
}

#loadDialog2 {
	top: 95%;
}

game .shade {
	position: absolute;
	width: 1%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(0.25turn, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.sticker {
	position: absolute;
}

.sticker.sm {
	top: 2%;
	left: 87%;
	width: 8%;
}

.sticker.sm.s0 {
	top: 1.5%;
	left: 4%;
	width: 12%;
}

.sticker.sm.s3 {
	top: 1.5%;
	left: 24%;
	width: 12%;
}

.sticker.sm.s4 {
	top: 3%;
	left: 63%;
	width: 13%;
}

.sticker.sm.s5 {
	top: 1%;
	left: 62%;
	width: 13%;
}

.sticker.sm.s7 {
	top: 2%;
	left: 10%;
	width: 15%;
}

.sticker.md {
	top: 70%;
	left: 70%;
	width: 13%;
}

.sticker.md.s0 {
	top: 66%;
	left: 74%;
	width: 19%;
}

.sticker.md.s3 {
	top: 67%;
	left: 60%;
	width: 39%;
}

.sticker.md.s5 {
	top: 61%;
	left: 70%;
	width: 26%;
}

.sticker.md.s1 {
	top: 60%;
	left: 60%;
}

.sticker.md.s2 {
	top: 80%;
	left: 60%;
	width: 30%;
}

.sticker.md.s4 {
	top: 44%;
	left: 20%;
	width: 23%;
}

.sticker.md.s6 {
	top: 67%;
	left: 50%;
	width: 40%;
}

.sticker.lg {
	top: 77%;
	left: 3%;
	width: 45%;
}

.sticker.lg.s0 {
	top: 67%;
	left: 9%;
	width: 70%;
}

.sticker.lg.s1 {
	top: 61%;
	left: 2%;
	width: 27%;
}

.sticker.lg.s2 {
	top: 61%;
	left: 2%;
	width: 40%;
}

.sticker.lg.s4 {
	top: 62%;
	left: 4%;
}

.sticker.lg.s5 {
	top: 66%;
	left: 7%;
	width: 34%;
}

.label-input {
	font-family: handwriting1;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 1vh;
}

.label-input textarea,
.label-input input {
	cursor: default;
}

.editSelect .label-input textarea,
.editSelect .label-input input {
	cursor: text;
}

game .label-input {
	font-family: 'handwriting0';
	position: absolute;
	left: 5%;
	right: 5%;
}

#checkDonationMenu_1 .label-input {
	height: 7vh;
}

#checkDonationMenu_1 input {
	font-size: 5.5vh;
}

.label-input img {
	height: inherit;
}

.label-input input,
.label-input textarea {
	background: transparent;
	position: absolute;
	left: 2%;
	right: 2%;
	height: inherit;
	width: 96%;
	border: none;
	box-shadow: none;
}

.label-input textarea {
	text-align: center;
	resize: none;
}

.label-input input:focus,
.label-input textarea:focus {
	outline: none;
}

.label {
	font-family: handwriting0;
	text-align: center;
	position: absolute;
	width: fit-content;
	max-width: 90%;
	height: fit-content;
	background-color: coral;
	color: #000;
	line-height: initial;
	padding: 5px;
}

game .title.label,
game .title.label-input {
	top: 10%;
	left: 5%;
	right: 5%;
	line-height: initial;
	font-size: 3.2vh;
	height: 12vh;
}

game .id.label,
game .id.label-input {
	font-family: 'handwriting3';
	top: 45%;
	left: 55%;
	font-size: 1vh;
	width: 35%;
	height: 2vh;
}

game .file.label,
game .file.label-input {
	font-family: 'handwriting3';
	top: 82%;
	left: 5%;
	font-size: 1vh;
	height: 2vh;
}

game.flip .shade {
	left: 98%;
	background: linear-gradient(0.25turn, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

img.coverFull {
	background-color: var(--box-bg-color);
}

/*================Game Lib Viewer====================*/
game .crop.cover,
game .crop.coverFull {
	height: 100%;
	overflow: hidden;
	position: absolute;
}

game.flip .crop.coverFull {
	width: 100%;
}

game.flip img.box {
	transform: rotate(180deg);
}

game.flip img.coverFull {
	width: 200.8%;
	transform: translate(1.6%, 1%);
}

/*================Cover====================*/
nav {
	display: flex;
	background-color: transparent;
	pointer-events: none;
}

nav * {
	pointer-events: all;
}

.navbar {
	height: 12vh;
}

.navPanel {
	width: 19%;
	height: 100%;
	border-style: solid;
	margin-left: 30px;
}

.navPanel * {
	margin-top: auto;
	margin-bottom: auto;
}

#nav1Btn,
.text {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.navPanel .text {
	overflow: hidden;
	text-overflow: clip;
	/* white-space: nowrap; */
	width: 60%;
	height: 100%;
}

.navPanel .text span {
	/* vertical-align: text-top; */
	line-height: 1;
	/* top: 6vh; */
	text-align: right;
}

.navPanel .text.twoLines {
	line-height: 1vh;
	transform: scaleY(1) !important;
}

.navPanel .text .twoLines {
	line-height: 1;
}

#nav0 {
	color: var(--nav0-text-color, var(--nav-text-color));
	background-color: var(--nav0-color, var(--nav-color));
	background-image: var(--nav0-image, var(--nav-image, url(https://img.cadnav.com/allimg/131005/1-13100512593X10.jpg)));
	border-color: var(--nav0-border-color, var(--nav-border-color, var(--nav0-text-color, var(--nav-text-color))));
	border-radius: 0 0 32px 0;
	border-width: 0 0 8px 0;
}

#nav0Btn {
	color: var(--nav0Btn-text-color, var(--navBtns-text-color));
	background-color: var(--nav0Btn-color, var(--navBtns-color));
	background-image: var(--nav0Btn-image, var(--navBtns-image));
	border-color: var(--nav0Btn-border-color, var(--navBtns-border-color));
}

#nav1 {
	color: var(--nav1-text-color, var(--nav-text-color));
	background-color: var(--nav1-color, var(--nav-color));
	background-image: var(--nav1-image, var(--nav-image, url(https://img.cadnav.com/allimg/131005/1-13100512593X10.jpg)));
	border-color: var(--nav1-border-color, var(--nav-border-color, var(--nav1-text-color, var(--nav-text-color))));
	height: 100%;
	border-radius: 0 0 0 32px;
	border-width: 0 0 8px 0;
}

#nav2 {
	color: var(--nav2-text-color, var(--nav-text-color));
	background-color: var(--nav2-color, var(--nav-color));
	background-image: var(--nav2-image, var(--nav-image, url(https://img.cadnav.com/allimg/131005/1-13100512593X10.jpg)));
	border-color: var(--nav2-border-color, var(--nav-border-color, var(--nav2-text-color, var(--nav-text-color))));
	height: 100%;
	border-radius: 0 32px 0 0;
	border-width: 8px 0 0 0;
}

#nav2Btn {
	color: var(--nav2Btn-text-color, var(--navBtns-text-color));
	background-color: var(--nav2Btn-color, var(--navBtns-color));
	background-image: var(--nav2Btn-image, var(--navBtns-image));
	border-color: var(--nav2Btn-border-color, var(--navBtns-border-color));
}

#nav3 {
	color: var(--nav3-text-color, var(--nav-text-color));
	background-color: var(--nav3-color, var(--nav-color));
	background-image: var(--nav3-image, var(--nav-image, url(https://img.cadnav.com/allimg/131005/1-13100512593X10.jpg)));
	border-color: var(--nav3-border-color, var(--nav-border-color, var(--nav3-text-color, var(--nav-text-color))));
	height: 100%;
	border-width: 8px 0 0 0;
	border-radius: 32px 0 0 0;
}

#nav3Btn {
	color: var(--nav3Btn-text-color, var(--navBtns-text-color));
	background-color: var(--nav3Btn-color, var(--navBtns-color));
	background-image: var(--nav3Btn-image, var(--navBtns-image));
	border-color: var(--nav3Btn-border-color, var(--navBtns-border-color));
}

#nav0 *,
#nav2 * {
	position: relative;
}

#nav0 .text,
#nav2 .text {
	margin-right: 5%;
}

#nav0 .nav-item,
#nav2 .nav-item,
#nav3 .nav-item {
	position: relative;
}

#nav1 *,
#nav3 * {
	position: relative;
}

#nav3 .text {
	margin-left: 5%;
}

#nav3 .nav-item {
	margin-left: 4%;
}

img.logoNav {
	height: 32px;
}

#nav1 li {
	margin: auto;
}

button:active,
button:focus {
	outline: none;
}

.navPanel:hover .nav-link {
	filter: brightness(1.1);
	outline: none;
}

.navPanel:active .nav-link,
.navPanel.active .nav-link {
	filter: brightness(0.9);
	outline: none;
}

.navPanel .nav-link {
	font-size: 3vw;
	font-weight: bold;
	border-width: 0.27vw;
	border-style: solid;
	border-color: var(--navBtns-border-color);
	border-radius: 50%;
	box-shadow: none;
	padding: 0;
	margin: 0;
	width: 5vw;
	height: 5vw;
}

ul.nav {
	height: 100%;
}

/*================Misc====================*/
.hide,
.hide * {
	filter: opacity(0) !important;
}

.cui i.material-icons {
	font-size: inherit;
	vertical-align: sub;
	line-height: inherit;
	transform: scale(1.4);
}

.cui .text {
	display: inline;
}

.md-left {
	float: left;
	margin-left: 14px;
}

.md-right {
	float: right;
	margin-right: 14px;
}

.invis {
	visibility: hidden;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
	font-size: 18px;
}

.material-icons.md-24 {
	font-size: 24px;
}

.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.md-48 {
	font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
	color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
	color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
	color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
	color: rgba(255, 255, 255, 0.3);
}

.imgSearchMenu .navbar {
	top: -100000px;
}

.plastic0,
.menu .cui {
	background-image: url(https://img.cadnav.com/allimg/131005/1-13100512593X10.jpg);
	background-blend-mode: overlay;
	background-repeat: repeat;
	background-size: 200px;
}

.plastic1,
.menu {
	background-image: url(https://img.cadnav.com/allimg/131005/1-131005005Q0321.jpg);
	background-blend-mode: soft-light;
	background-repeat: repeat;
	background-size: 250px;
}

@keyframes pressMenuBtn {
	from {
		transform: scale(1) translate(0);
		box-shadow: 2px 2px 0 2px var(--nav-border-color, var(--nav-text-color)) inset, 0 0 0px 3px rgba(0, 0, 0, 0.6),
			3px 3px 4px 3px rgba(0, 0, 0, 0.7), 0 0 50px -10px rgba(0, 0, 0, -0.05);
	}

	to {
		transform: scale(0.99) translate(-2px, -0.5px);
		box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.4) inset, 0 0 0px 3px rgba(0, 0, 0, 0.8),
			3px 3px 4px 0px rgba(0, 0, 0, 0.8), 0 0 50px -10px rgba(0, 0, 0, -0.05);
	}
}

@keyframes springMenuBtn {
	33% {
		transform: scale(0.9975) translate(-0.25px, -0.125px);
		box-shadow: 2px 2px 0 1px var(--nav-border-color, var(--nav-text-color)) inset, 0 0 0px 3px rgba(0, 0, 0, 0.6),
			3px 3px 4px 1px rgba(0, 0, 0, 0.7), 0 0 50px -10px rgba(0, 0, 0, -0.05);
	}
}

.menu .cui {
	border: 0;
	margin-bottom: 16px;
	padding-top: 4px;
	padding-left: 2px;
	box-shadow: 2px 2px 0 2px var(--nav-border-color, var(--nav-text-color)) inset, 0 0 0px 3px rgba(0, 0, 0, 0.6),
		3px 3px 4px 3px rgba(0, 0, 0, 0.7), 0 0 50px -10px rgba(0, 0, 0, -0.05);
}

.menu .cui:active,
.menu .cui.active {
	transform: scale(0.99) translate(-2px, -0.5px);
	box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.4) inset, 0 0 0px 3px rgba(0, 0, 0, 0.8),
		3px 3px 4px 0px rgba(0, 0, 0, 0.8), 0 0 50px -10px rgba(0, 0, 0, -0.05);
	animation-name: pressMenuBtn;
	animation-duration: 48ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
}

.menu .cui.cursor:not(:active):not(.active) {
	animation-name: springMenuBtn;
	animation-duration: 300ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

.menu .row-x {
	margin-bottom: 16px;
}
