.loader-xbox {
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	z-index: 101;
}

.loader-xbox,
.loader-xbox:after,
.loader-xbox:before {
	position: absolute;
	border: 3px solid transparent;
	border-top: 3px solid hsl(83, 82%, 53%);
	border-radius: 50%;
	animation: rotate linear infinite;
	content: '';
}

.loader-xbox {
	height: 100px;
	width: 100px;
	animation-duration: 1.05s;
}

.loader-xbox:before {
	height: 75px;
	width: 75px;
	top: 10px;
	left: 10px;
	animation-duration: 10s;
}

.loader-xbox:after {
	height: 50px;
	width: 50px;
	top: 22px;
	left: 22px;
	animation-duration: 4s;
}
@keyframes rotate {
	from {
		transform: rotateZ(360deg);
	}

	to {
		transform: rotateZ(0deg);
	}
}