/*================Xbox 360 Cover========================*/
@font-face {
	font-family: X360;
	src: url('../fonts/X360.ttf');
}

.xbox360 .navPanel .text {
	font-family: X360, sans-serif;
}

.xbox360 #nav1Btn {
	font-family: X360, sans-serif;
	font-size: 3.6vw;
	text-transform: uppercase;
	text-shadow: 0 0.3px 0 rgba(255, 255, 255, 0.5);
	transform: translate(0, 10%);
}
/*=====Xbox 360===*/
game.xbox360 .crop.coverFull {
	width: 100%;
	height: 100%;
	top: 1.2%;
	left: 0%;
}

game.xbox360 .crop.cover {
	height: 100%;
	width: 100%;
	top: -0.5%;
	left: -1%;
}

game.xbox360 img.cover {
	height: 100%;
	width: 100%;
	transform: scale(0.966);
}

game.xbox360 img.coverFull {
	height: 97%;
	width: 200%;
	transform: translate(-51.5%, 0%);
}

game.xbox360.flip img.coverFull {
	transform: translate(1.2%, 0%);
}

game.xbox360.flip .shade {
	width: 2%;
}

.xbox360 #gameMedia {
	width: 60vh;
	height: 60vh;
	transform: translate(12%, -50%);
	border-radius: 10%;
}
