/*================Xbox 360 Cover========================*/
@font-face {
	font-family: X360;
	src: url("../fonts/X360.ttf");
}

.xbox360 .navPanel .text {
	font-family: X360;
	font-weight: 700;
}

.xbox360 #nav1Btn {
	font-family: X360;
	font-size: 3.6vw;
	line-height: 3.6vw;
	text-transform: uppercase;
	margin-left: -5%;
	border: none;
	box-shadow: none;
	text-shadow: 0 0.3px 0 rgba(255, 255, 255, .5);
}

/*=====Xbox 360===*/
game.xbox360 .crop.coverFull {
	width: 200.4%;
	top: 1.2%;
	left: 0;
}

game.xbox360 .crop.cover {
	height: 100%;
	width: 100%;
	top: -0.5%;
	left: -1%;
}

game.xbox360 img.cover {
	height: 100%;
	width: 100%;
	transform: scale(.966);
}

game.xbox360 img.coverFull {
	transform: translate(-51.5%, 0%);
}

game.xbox360.flip .shade {
	width: 2%;
}
