.ps3 {
	--cover-color: #333;
	--cover-text-color: #111;
	--button-color: #333;
}
/*================ ps3 Cover========================*/
@font-face {
	font-family: ryp;
	src: url("../fonts/ryp.ttf");
}
@font-face {
	font-family: 'Sownie';
	src: url("../fonts/sownie.ttf");
}

.ps3 #view {
	font-family: 'Sownie', sans-serif;
	font-size: 2.6vw;
	line-height: 2.6vw;
	text-transform: uppercase;
	border: none;
	box-shadow: none;
	text-shadow: 0 0.3px 0 rgba(255, 255, 255, .5);
	transform: translate(0%, 50%) scale(1, 1.4);
	text-rendering: geometricPrecision;
}

.ps3 .console .text {
	font-family: ryp, sans-serif;
	font-size: 1.9vw;
}

.ps3 .square span {
	display: block;
	font-size: 0;
	border: 0.5vw solid #d49ac0;
	width: 100%;
	height: 100%;
	position: relative;
	transform: scale(.6);
}

.ps3 .circle span {
	display: block;
	font-size: 0;
	border: 0.5vw solid #eb5535;
	height: 100%;
	width: 100%;
	transform: scale(0.7);
	border-radius: inherit;
}

.ps3 .cross span {
	display: block;
	font-size: 0;
	position: relative;
	width: 100%;
	height: 100%;
}

.ps3 .cross span:after,
.ps3 .cross span:before {
	content: "";
	font-size: 0;
	width: 0;
	height: 100%;
	border: 5px solid #8d95c7;
	position: absolute;
	transform: scale(0.55) rotate(45deg);
	left: 50%;
	margin-left: -5px;
}

.ps3 .cross span:after {
	transform: scale(0.55) rotate(-45deg);
}

.ps3 .triangle span {
	display: block;
	font-size: 0;
	border-left: 1.7vw solid transparent;
	border-right: 1.7vw solid transparent;
	border-bottom: 2.8vw solid #1d6f56;
	position: absolute;
	transform: translate(15%, 20%);
}

.ps3 .triangle span:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-left: 1.7vw solid transparent;
	border-right: 1.7vw solid transparent;
	border-bottom: 2.8vw solid #2e3335;
	left: -1.7vw;
	top: 0.2vw;
	transform: scale(0.65);
}
/*===== ps3 Game Lib Viewer ===*/

game.ps3 .crop.coverFull {
	width: 200.4%;
	top: 2.3%;
	left: 0;
}

game.ps3 .crop.cover {
	height: 100%;
	width: 100%;
	top: -0.5%;
	left: -1%;
}

game.ps3 img.cover {
	height: 100%;
	width: 100%;
	transform: scale(.95, .885) translate(.6%, 3.7%);
}

game.ps3 img.coverFull {
	transform: scale(1.01) translate(-51.5%, 7.5%);
}

game.ps3.flip .crop.coverFull {
	top: 1.2%;
}

game.ps3.flip img.coverFull {
	transform: translate(1.5%, 0%);
}

game.ps3 .shade {
	width: 1.3%;
}

game.ps3.flip .shade {
	width: 2%;
}

.ps3 #gameMemory {
	width: 29.1vh;
	transform: translate(78%,-209%);
}

.ps3 .zoom-gameMemorySelect {
	transform: translate(-104vh,-110vh) rotate(90deg) scale(3);
}

.ps3 #gameMedia {
	width: 63vh;
	transform: translate(8.5%,-29%);
}

.ps3 .zoom-gameMediaSelect {
	transform: translate(-55vh,-20.7vh) scale(1.55);
}