/*================ ps3 Cover========================*/
@font-face {
	font-family: ryp;
	size-adjust: 62%;
	src: url('../fonts/ryp.ttf');
}
@font-face {
	font-family: 'Sownie';
	src: url('../fonts/sownie.ttf');
}

.ps3 #nav1Btn {
	font-family: 'Sownie', sans-serif;
	font-size: 2.6vw;
	text-transform: uppercase;
	border: none;
	box-shadow: none;
	text-shadow: 0 0.3px 0 rgba(255, 255, 255, 0.5);
	transform: scale(1, 1.4);
	text-rendering: geometricPrecision;
}

/* hacky stuff to change the width of the letters */
.ps3 .navPanel .text {
	font-family: ryp, sans-serif;
	transform: scale(0.8, 1);
	margin-left: -1.5vw;
	margin-right: -1.5vw;
}
.ps3 .square,
.ps3 .circle,
.ps3 .triangle,
.ps3 .cross {
	display: flex;
	justify-content: center;
}

.ps3 .square span {
	margin: auto;
	font-size: 0;
	border: 0.4vw solid #d49ac0;
	width: 2vw;
	height: 2vw;
}

.ps3 .circle span {
	margin: auto;
	font-size: 0;
	border: 0.4vw solid #eb5535;
	height: 2.3vw;
	width: 2.3vw;
	border-radius: 50%;
}

.ps3 .cross span {
	margin: auto;
	font-size: 0;
	width: 100%;
	height: 100%;
}

.ps3 .cross span:after,
.ps3 .cross span:before {
	content: '';
	font-size: 0;
	width: 0;
	height: 100%;
	border: 5px solid #8d95c7;
	position: absolute;
	transform: scale(0.55) rotate(45deg);
	left: 50%;
	margin-left: -5px;
}

.ps3 .cross span:after {
	transform: scale(0.55) rotate(-45deg);
}

.ps3 .triangle span {
	margin: auto;
	font-size: 0;
	width: 0;
	position: relative;
	top: -0.2vw;
	border-left: 1.3vw solid transparent;
	border-right: 1.3vw solid transparent;
	border-bottom: 2vw solid #1d6f56;
}

.ps3 .triangle span:after {
	content: '';
	position: relative;
	top: 0.7vw;
	left: -0.6vw;
	border-left: 0.6vw solid transparent;
	border-right: 0.6vw solid transparent;
	border-bottom: 1vw solid #2e3335;
}

/*===== ps3 Game Lib Viewer ===*/
game.ps3 .crop.coverFull {
	width: 200.4%;
	top: 2.3%;
	left: 0;
}

game.ps3 .crop.cover {
	height: 100%;
	width: 100%;
	top: -0.5%;
	left: -1%;
}

game.ps3 img.cover {
	height: 100%;
	width: 100%;
	transform: scale(0.95, 0.885) translate(0.6%, 3.7%);
}

game.ps3 img.coverFull {
	transform: scale(1.01) translate(-51.5%, 7.5%);
}

game.ps3.flip .crop.coverFull {
	top: 1.2%;
}

game.ps3.flip img.coverFull {
	transform: translate(1.5%, 0%);
}

game.ps3 .shade {
	width: 1.3%;
}

game.ps3.flip .shade {
	width: 2%;
}

.ps3 #gameMemory {
	width: 29.1vh;
	transform: translate(78%, -209%);
}

.ps3 .zoom-gameMemory {
	transform: translate(-104vh, -110vh) rotate(90deg) scale(3);
}

.ps3 #gameMedia {
	width: 63vh;
	transform: translate(8.5%, -29%);
}

.ps3 .zoom-gameMedia {
	transform: translate(-55vh, -20.7vh) scale(1.55);
}
