.switch {
	--cover-color: #313133;
	--cover-text-color: #050505;
	--button-color: #3C3F45;
	--reset-color: rgb(10, 185, 230);
	--reset-border-color: rgb(45, 210, 255);
	--reset-text-color: rgb(0, 125, 160);
	--open-color: rgb(255, 60, 40);
	--open-border-color: rgb(255, 90, 60);
	--open-text-color: rgb(210, 50, 25);
}

.switch.splatoon {
	--reset-color: #00E350;
	--reset-border-color: #06AA38;
	--reset-text-color: #E7E9ED;
	--open-color: #FF4A85;
	--open-border-color: #EF2D65;
	--open-text-color: #050505;
}

.switch.animal-crossing {
	--cover-color: #5D757F;
	--cover-text-color: #2C4446;
	--button-color: #4F666C;
	--reset-color: #9DF1D7;
	--reset-border-color: #D6D6D4;
	--reset-text-color: #050505;
	--open-color: #FF4A85;
	--open-border-color: #D6D6D4;
	--open-text-color: #E7E9ED;
}
