/*================ DS Cover ====================*/
@font-face {
	font-family: nDS;
	src: url("../fonts/nDS.ttf");
}

@font-face {
	font-family: Nintender;
	src: url("../fonts/Nintender.ttf");
}

.ds .navPanel .text {
	font-family: nDS;
	transform: scale(1.6);
	font-weight: 1000;
}

.ds #nav1Btn {
	font-family: Nintender;
	font-size: 3vw;
	line-height: 3vw;
	font-weight: bold;
	text-align-last: center;
	-webkit-appearance: none;
	border-width: 0.5vw;
	border-style: solid;
	border-color: var(--nav1-text-color, var(--nav-text-color));
	color: var(--nav1-text-color, var(--nav-text-color));
	background-color: transparent;
	border-radius: 3vw;
	padding-left: 5%;
	padding-right: 6%;
	padding-top: 1%;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

/*================ DS Game Lib Viewer ====================*/
game.ds .crop.coverFull {
	width: 100%;
	top: 0;
	left: 0;
}

game.ds .crop.cover {
	width: 100%;
	top: -0.3%;
	left: 0.4%;
}

game.ds img.cover {
	width: 100%;
	height: 100%;
	transform: scale(.948, .948);
}

game.ds img.coverFull {
	width: 100%;
	height: 100%;
	transform: translate(-54.6%, 0%) scale(2.04, .95);
}

game.ds.flip img.coverFull {
	width: 100%;
	height: 100%;
	transform: translate(54.6%, 0%) scale(2.04, .95);
}

game.ds .shade {
	width: 1.3%;
}

game.ds.flip .shade {
	width: 2%;
	left: 98%;
}

game.ds .title.label {
	top: 5%;
	font-size: 1.5vw;
}

game.ds .file.label {
	top: 70%;
	font-size: .5vw;
}

.ds #boxOpenMenu_2 {
	transform: scale(.6);
}

.ds #gameManual {
	width: 85vh;
	transform: translate(-109%, -46%);
}

.ds #gameMedia {
	width: 26.6vh;
	transform: translate(137%, -2.5%);
	border-radius: 0;
}

.ds #boxOpenMenu_2.zoom-gameManual {
	transform: translate(48vh, -4vh) scale(1.17);
}

.ds #boxOpenMenu_2.zoom-gameMedia {
	transform: translate(-95vh, -24vh) scale(2);
}

.ds #boxOpenMenu_2.zoom-gameMemory {
	transform: translate(-146vh, 129vh) scale(4);
}
