/*================Arcade MAME Cover========================*/
@font-face {
	font-family: Orbitron;
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/Orbitron-Black.ttf");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.arcade .navPanel .text {
	font-family: Orbitron, sans-serif;
	text-transform: uppercase;
	text-shadow: 0 0.5px 0 rgba(255, 255, 255, .5);
}

.arcade #nav1Btn {
	font-family: 'Orbitron', sans-serif;
	font-size: 2vw;
	text-transform: uppercase;
	border: none;
	box-shadow: none;
	text-shadow: 0 0.5px 0 rgba(255, 255, 255, .5);
	transform: scale(1.3, 2.5) translate(0%, 12%);
}

.arcade .navPanel .nav-link {
	filter: none;
	border-width: 0;
	transform: scale(1.05);
}

.arcade .navPanel:active .nav-link,
.arcade .navPanel.active .nav-link {
	filter: none;
	background-image: var(--navBtns-hover-image) !important;
}

/*================MAME Game Lib Viewer====================*/
game.arcade .box {
	border-radius: 0;
}

.arcade #gameBoxOpen {
	width: 100vw;
}

.arcade #gameMedia {
	border-radius: 0;
	height: 100vh;
	width: auto;
	transform: translate(-50%, -50%);
}

.arcade .zoom-gameMedia {
	transform: scale(2);
}
