.gcn {
	--cover-color: #6a56b9;
	--cover-text-color: #56429c;
	--button-color: #6a56b9;
	--powerBtn-color: #c0c0c0;
	--openBtn-color: radial-gradient(circle at 50%, #493c7a 15%, #6a56b9 40%);
}
