doctype html
html
	head
		title intro gcn
		meta(charset='utf-8')
		link(rel='stylesheet' type='text/css' href='./intro.css')
	body
		#cvs
			#cube
				.cubeface.top
					.square
					.square
					.square
					.square
				.cubeface.front
					.square
					.square
					.square
					.square
					.square
				.cubeface.right
					.square
					.square
					.square
					.square
					.square
					.square
				.cubeface.back
				.cubeface.left
				.cubeface.bottom
				#minicube
					.minicubeface.top
					.minicubeface.front
					.minicubeface.left
					.minicubeface.right
					.minicubeface.back
					.minicubeface.bottom
		script(src='../../node_modules/jquery/dist/jquery.slim.min.js')
		script(src='./intro.js')
