/*================ Gamecube Cover ====================*/
@font-face {
	font-family: Gamecuben;
	src: url("../fonts/Gamecuben.ttf");
}

@font-face {
	font-family: Nintender;
	src: url("../fonts/Nintender.ttf");
}

.gcn .navPanel .text {
	font-family: Gamecuben;
	font-size: 2.5vw;
	line-height: 2.5vw;
	font-weight: 900;
	text-transform: lowercase;
	letter-spacing: -.2vw;
}

.gcn #nav1Btn {
	font-family: Nintender;
	font-size: 3vw;
	line-height: 3vw;
	font-weight: bold;
	text-align-last: center;
	-webkit-appearance: none;
	border-width: 0.5vw;
	border-style: solid;
	border-color: var(--nav1-text-color, var(--nav-text-color));
	color: var(--nav1-text-color, var(--nav-text-color));
	background-color: transparent;
	border-radius: 3vw;
	padding-left: 5%;
	padding-right: 6%;
	padding-top: 1%;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

/*================Wii/Gamecube Box====================*/
game.gcn .crop.coverFull,
game.wii .crop.coverFull {
	width: 200.1%;
	top: 1.4%;
	left: 0;
}

game.wii .crop.coverFull {
	width: 200.6%;
}

game.gcn .crop.cover,
game.wii .crop.cover {
	width: 94.5%;
	top: 2.6%;
	left: 0.8%;
}

game.gcn img.coverFull,
game.wii img.coverFull {
	transform: translate(-51.2%, 0%);
}

game.gcn.flip .crop.coverFull,
game.wii.flip .crop.coverFull {
	width: 100%;
}

game.gcn.flip img.coverFull {
	transform: translate(1.2%, .4%);
}

game.wii.flip img.coverFull {
	width: 200.6%;
	transform: translate(2%, .8%);
}

game.gcn .shade,
game.wii .shade {
	width: 2%;
}

game.gcn.flip .shade,
game.wii.flip .shade {
	background: linear-gradient(0.25turn, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
	width: 3%;
	left: 98%;
}

/*================Wii/Gamecube Open Box====================*/
.gcn .zoom-gameManual {
	transform: translate(34vh, 0vh) scale(1);
}

.gcn .zoom-gameMedia {
	transform: translate(-71vh, -11vh) scale(2);
}

.gcn .zoom-gameMemory {
	transform: translate(-146vh, 129vh) scale(4);
}

.gcn .zoom-gameTexp {
	transform: translate(34vh, 0vh) scale(1);
}

.wii #gameMemory {
	width: 16vh;
	transform: translate(32%, -256%);
}

.wii #gameMedia {
	width: 60.8vh;
	border-radius: 50%;
	transform: translate(11%, -50%);
}

.wii #gameTexp {
	width: 94vh;
	transform: translate(-110%, -50.5%);
}

.wii #gameManual {
	width: 57vh;
	transform: translate(-119%, -50%);
}

.wii .zoom-gameManual {
	transform: translate(34vh, 0vh) scale(1);
}

.wii .zoom-gameMedia {
	transform: translate(-59vh, 0vh) scale(1.6);
}

.wii .zoom-gameMemory {
	transform: translate(-52vh, 140vh) scale(4);
}

.wii .zoom-gameTexp {
	transform: translate(34vh, 0vh) scale(1);
}
