.nes {
	--nav-color: #C8C5C6;
	--nav-border-color: #676465;
	--nav-text-color: #B2343A;
	--navBtns-color: #676465;
	--navBtns-text-color: #632C2A;
	--nav3-color: #202020;
	--nav3-text-color: #632C2A;
	--nav3-border-color: #0C0C0F;
	--nav3Btn-color: #111111;
	--nav2-color: #6A6768;
	--nav2-text-color: #632C2A;
	--nav2-border-color: #423F40;
	--nav0Btn-color: #EEECED;
}
