doctype html
html
	head
		title intro nes
		meta(charset='utf-8')
		link(rel='stylesheet' type='text/css' href='./intro.css')
	body
		#nes
			.nes-top
				.lid
					h1 Nintendo
					h2 ENTERTAINMENT SYSTEM
				.cartridge-slot
					.cartridge-slot-border
					.cartridge-slot-hole
			.nes-bottom
				.nav0-box
					input#nav0Btn(type="checkbox")
					.nav2
					label.nav0(for="power")
					.light
			.gamepads-slots
				.gamepad-slot.p1
				.gamepad-slot.p2
